﻿@using System.Web.Optimization;

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/dist/img/hanwha-logo.png">
    <title>Hanwha Life - Sales Illustration</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"/>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"/>*@

    @Styles.Render("~/Content/pluginscss")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/pluginsjs")
    @Scripts.Render("~/bundles/distjs")
</head>

<body class="page">
    @RenderBody()
</body>
</html>