﻿@{
    var appVersion = Sales.Illustration.Web.Helper._session.AppVersion;
}

<div style="z-index:9999;position:relative;">
    <div>
        <div class="footer-manwha-bg">
        </div>
        <div class="footer-manwha">
            <center><div class="footer-caption">SIS Version @appVersion</div></center>
        </div>
    </div>
</div>

<script type="text/javascript">
    var myApp = angular.module('myApp', [])
            .controller('myCtrl', function ($scope) {
                $scope.items = [];
                $scope.uploads = [];

                $scope.add = function () {
                    if ($scope.items.length >= 0) {
                        $scope.hide = { top: true };
                        $scope.show = { top: true };
                    }
                    $scope.items.push($scope.items.length);
                }

                $scope.del = function (i) {
                    console.log(i);
                    if ($scope.items.length == 1) {
                        $scope.hide = { top: false };
                        $scope.show = { top: false };
                    }
                    $scope.items.splice(i, 1);
                }
            });

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
