﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string error = TempData["msg"] != null ? TempData["msg"].ToString() : "";
    
    @model Sales.Illustration.Web.ViewModel.LoginViewModel
}

<div class="bg-login" ng-app="myApp" ng-controller="myCtrl" style="height :90%;">
    <form class="form-login" action="/Home/CheckLogin/" autocomplete="off" method="post">
        <div class=" col-lg-12">
            <center><img src="/Content/dist/img/logo-login.png" class="home-logo"></center>
        </div>
        @if (error != "")
        {
            <div id="error" class="col-lg-12 forgot-psswd">
                <center><label>@error</label></center>
                <div class="clear"></div>
            </div>
        }
        <div class="col-lg-12">
            <center>
                @*<input type="text" class="input-login-agent" name="username" placeholder="Agent Code" />*@
                @Html.TextBoxFor(m => m.Username, new { @class = "input-login-agent", @placeholder = "Agent Code" })
            </center>
        </div>
        <div class="col-lg-12">
            <center>
                @*<input type="password" class="input-login-password" name="password" placeholder="Password" />*@
                @Html.PasswordFor(m => m.Password, new { @class = "input-login-password", @placeholder = "Password" })
            </center>
        </div>
        @Html.AntiForgeryToken()
        <div class="col-lg-12">
            <center><button type="submit" class="buto btn-login">LOG IN</button></center>
        </div>
        <div class="col-lg-12 forgot-psswd" style="text-align:center;margin-top:20px;">
            @*<h6><a href="#">Forget Password ?</a></h6>*@
        </div>
    </form>
</div>
<div style="z-index:9999;position:relative;">
    <div>
        <div class="footer-manwha-bg">
        </div>
        <div class="footer-manwha" style="background-color:#fe763a">
            <center><div class="footer-caption-login">SIS Version @ViewData["AppVersion"]</div></center>
        </div>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function () {
        $("#error").fadeOut('slow');
    }, 4000);

    var myApp = angular.module('myApp', [])
            .controller('myCtrl', function ($scope) {
                $scope.items = [];
                $scope.uploads = [];

                $scope.add = function () {
                    if ($scope.items.length >= 0) {
                        $scope.hide = { top: true };
                        $scope.show = { top: true };
                    }
                    $scope.items.push($scope.items.length);
                }

                $scope.del = function (i) {
                    console.log(i);
                    if ($scope.items.length == 1) {
                        $scope.hide = { top: false };
                        $scope.show = { top: false };
                    }
                    $scope.items.splice(i, 1);
                }
            });
</script>
