﻿@model Sales.Illustration.Web.Domain.RiderItem

    @using (Html.BeginCollectionItem("Riders"))
    {
        var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
        <div class="checkbox">
                
                @if (Model.Rider.Category.Equals("Choice"))
                {
                    var units = Model.Rider.RiderTypes.ToList();
                    var list = new List<SelectListItem>();

                    for (int n = 0; n < units.Count(); n++)
                    {
                        var unit = units[n];
                        list.Add(new SelectListItem() { Value = unit.RiderTypeId.ToString(), Text = unit.TypeName });


                        @Html.HiddenFor(m => m.Rider.RiderTypes.ElementAt(n).RiderTypeId,
                   new { Name = prefix + ".Rider.RiderTypes[" + n + "].RiderTypeId" })
                        @Html.HiddenFor(m => m.Rider.RiderTypes.ElementAt(n).TypeName,
                   new { Name = prefix + ".Rider.RiderTypes[" + n + "].TypeName" })

                    }

                    @Html.CheckBoxFor(m => m.Checked, new { @onchange = "checkedChange(this)" })
                    <span>
                        @Html.DropDownListFor(m => m.Choice, list, new { @class = "form-control", onchange = "unitRiderChanged(this)", @style = "width:130px; display:inline-block; margin-left:-4px;", @readonly = "readonly", disabled="disabled" })
                        @Html.HiddenFor(m => m.BiayaAsuransi)
                    </span>

                }
                else if (Model.Rider.Category.Equals("Choices"))
                {
                    var choices = Model.Choices;
                    if (choices != null)
                    {
                        for (int n = 0; n < choices.Count; n++)
                        {
                            var choice = choices[n];
                            <label style="display:block; margin-left:-20px">
                                @Html.CheckBoxFor(m => m.Choices[n].Checked, new { onchange = "riderTypeCheckedChange(this)" })
                                <span>
                                    @choice.RiderType.TypeName
                                </span>

                                @Html.HiddenFor(m => m.Rider.RiderTypes.ElementAt(n).RiderTypeId,
                                        new { Name = prefix + ".Rider.RiderTypes[" + n + "].RiderTypeId" })
                                @Html.HiddenFor(m => m.Rider.RiderTypes.ElementAt(n).TypeName,
                                        new { Name = prefix + ".Rider.RiderTypes[" + n + "].TypeName" })
                                    @Html.HiddenFor(m => m.Choices[n].RiderType.TypeName)
                                @Html.HiddenFor(m => m.Choices[n].RiderType.RiderTypeId)
                            </label>

                        }
                    }
                    @Html.HiddenFor(m => m.BiayaAsuransi)
                    @Html.HiddenFor(m => m.UangPertanggungan)
                    @Html.HiddenFor(m => m.Rider.RiderName)
                }
                else if (Model.Rider.Category.Equals("Unit"))
                {
                    var units = Model.Rider.RiderTypes.ToList();
                    var list = new List<SelectListItem>();

                    for (int n = 0; n < units.Count(); n++)
                    {
                        var unit = units[n]; var selected = unit.RiderTypeId.ToString() == Model.UnitName ? true : false;
                        //selected = unit.IsChecked;

                        list.Add(new SelectListItem() { Value = unit.RiderTypeId.ToString(), Text = unit.TypeName, Selected = selected });
                        @Html.HiddenFor(m => m.Rider.RiderTypes.ElementAt(n).RiderTypeId,
                   new { Name = prefix + ".Rider.RiderTypes[" + n + "].RiderTypeId" })
                        @Html.HiddenFor(m => m.Rider.RiderTypes.ElementAt(n).TypeName,
                   new { Name = prefix + ".Rider.RiderTypes[" + n + "].TypeName" })
                    }

                    @Html.CheckBoxFor(m => m.Checked, new { @onchange = "checkedChange(this)" })
                    <span>
                        @Html.DropDownList("",list, new { @class = "form-control", onchange = "unitNameChanged(this)", @style = "width:130px; display:inline-block; margin-left:-4px;", @readonly = "readonly", disabled="disabled" })

                        @Html.DropDownList("", Sales.Illustration.Web.Extensions.StaticDropdownValues.GetUnitWithSelected(Model.Unit), new { @class = "form-control", @readonly = "readonly", onchange = "unitChanged(this)", @style = "margin-top:5px; margin-left:5px; width:130px", disabled="disabled" })

                        @Html.DropDownListFor(m => m.UnitName, list, new { @class = "form-control", @style = "width:130px; display:none; margin-left:-4px;" })

                        @Html.DropDownListFor(m => m.Unit, Sales.Illustration.Web.Extensions.StaticDropdownValues.GetUnitWithSelected(Model.Unit), new { @class = "form-control", @style = "display: none; margin-top:5px; margin-left:5px; width:130px" })
                        @Html.HiddenFor(m => m.BiayaAsuransi)
                    </span>
                }
                else
                {
                    @Html.CheckBoxFor(m => m.Checked, new { @onchange = "checkedChange(this)" })
                    <span>
                        @Html.TextBoxFor(m => m.UangPertanggungan, new { @class = "form-control", @placeholder=0, onblur = "zeroingValueOnBlur(this); validateValueInputted(this,true);", oninput = "toMoneyFormatElement(this)", @style = "width:130px; display: inline-block;", @readonly = "readonly" }) 

                        @Html.HiddenFor(m => m.BiayaAsuransi)
                    </span>
                }


            @Html.HiddenFor(m => m.Rider.RiderCode)
            @Html.HiddenFor(m => m.Rider.Category)
            @Html.HiddenFor(m => m.Rider.RiderName)
            @Html.HiddenFor(m => m.Rider.AllowAdditionalInsured)
            @Html.HiddenFor(m => m.Rider.RiderRates)
            @Html.HiddenFor(m => m.Rider.CoverTerm)
            @Html.HiddenFor(m => m.Rider.Description)
            @Html.HiddenFor(m => m.Rider.DisableRider)
            @Html.HiddenFor(m => m.Rider.HasSumInsured)
            @Html.HiddenFor(m => m.Rider.HasType)
            @Html.HiddenFor(m => m.Rider.InsuredMaxAge)
            @Html.HiddenFor(m => m.Rider.InsuredMinAge)
            @Html.HiddenFor(m => m.Rider.IsActive)
            @Html.HiddenFor(m => m.Rider.MaxAmountSumInsured)
            @Html.HiddenFor(m => m.Rider.MaxPercSumInsured)
            @Html.HiddenFor(m => m.Rider.MinAmountSumInsured)
            @Html.HiddenFor(m => m.Rider.MinPercSumInsured)
            @Html.HiddenFor(m => m.Rider.OrderNo)
            @Html.HiddenFor(m => m.Rider.PolicyHolderMaxAge)
            @Html.HiddenFor(m => m.Rider.PolicyHolderMinAge)
            @Html.HiddenFor(m => m.Rider.RiderProducts)
</div>
    }
