﻿@model Sales.Illustration.Web.Domain.AdditionalInsured

<tr>

    @using (Html.BeginCollectionItem("TertanggungTambahan"))
    {
        <td>1</td>
        <td>
            @Html.TextBoxFor(m => m.Nama, new { @class = "form-control inputtext enter" })
        </td>
        <td>
            <div class="input-group date" id="datepick">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @id = "datepicker" })
            </div>
        </td>
        <td>
            <div class="input-group enter">
                <label class="checkbox-inline" id="jk">
                    @Html.RadioButtonFor(m => m.Gender, "Wanita", new { @onclick="genderChange(this)" }) Wanita
                </label>
                <label class="checkbox-inline" id="jk1">
                    @Html.RadioButtonFor(m => m.Gender, "Pria", new { @onclick = "genderChange(this)" }) Pria
                </label>
            </div>
        </td>
        <td>
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control inputtext2 enter", @readonly = "readonly" })
        </td>
        <td>
            @Html.DropDownListFor(m => m.RiskClass, ViewData["riskClass"] as IEnumerable<SelectListItem>, new { @class = "form-control", @onchange = "onClassRiskChange(this)"})
        </td>
        <td>
            @Html.DropDownListFor(m => m.Relationship, Sales.Illustration.Web.Extensions.StaticDropdownValues.GetRelation("AdditionalInsured"), new { @class = "form-control inputtext enter", @onchange = "onRelationChange(this)" })
        </td>
        <td><img onclick="remove(this)" src="\Content\dist\img\trash-icon.png" style="width:26px; height:26px;" /></td>
    }

</tr>