﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Sales.Illustration.Web.ViewModel.RiderViewModel
    var pCategory = ViewData["ProductCategory"];
    var pCode = ViewData["ProductCode"];
    var pTitle = ViewData["ProductTitle"];
    var up = ViewData["up"];
    var age = ViewData["age"];
    var riskClass = ViewData["riskClass"];
    var hasAddIns = ViewData["hasAddInsured"].ToString();
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>


    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("ValidateRiderData", "UnitLink", FormMethod.Post, new { @id = "form" }))
                {
                    <div class="content-tittle-1">
                        <i class="cs"></i>  Pilihan Asuransi Tambahan
                    </div>
                    <div class="table-responsive">
                        <table id="content_tb" class="table-reg table">
                            <thead>
                                <tr>
                                    <th style="width:200px; font-size: 14px; text-align: center; vertical-align: middle;">Asuransi Tambahan</th>
                                    <th colspan="2" style="width:370px; font-size: 14px; text-align: center; vertical-align: middle;">Uang Pertanggungan</th>
                                    <th style="width:205px; font-size: 14px; text-align: center; vertical-align: middle;">Biaya Asuransi Tambahan (tahunan)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                    var riders = Model.Riders;

                    for (int i = 0; i < riders.Count(); i++)
                    {
                        var rider = riders[i].Rider;
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Riders[i].Checked, new { onchange = "riderCheckedChange(this)" })
                                        <span>@rider.RiderName</span>
                                        @Html.HiddenFor(m => m.Riders[i].Rider.RiderCode)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.Category)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.RiderName)

                                        @Html.HiddenFor(m => m.Riders[i].Rider.AllowAdditionalInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.CoverTerm)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.Description)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.DisableRider)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.HasSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.HasType)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.InsuredMaxAge)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.InsuredMinAge)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.IsActive)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.MaxAmountSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.MaxPercSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.MinAmountSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.MinPercSumInsured)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.OrderNo)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.PolicyHolderMaxAge)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.PolicyHolderMinAge)
                                        @Html.HiddenFor(m => m.Riders[i].Rider.CoverTermWizer)
                                    </label>
                                </div>
                            </td>

                            @if (rider.Category.Equals("Basic") || rider.Category.Equals("Risk"))
                            {
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].AllocationPercent, new { @class = "form-control tipe", @width = "150px", @placeholder = "0%", onfocus = "clearPercentValueOnFocus(this)", onblur = "zeroingPercentValueOnBlur(this); validateValueInputted(this);", @readonly = "readonly" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].UangPertanggungan, new { @class = "form-control tipe", @width = "150px", @placeholder = "0", onblur = "zeroingValueOnBlur(this); validateValueInputted(this);", oninput = "toMoneyFormatElement(this)", @readonly = "readonly" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].BiayaAsuransi, new { @class = "form-control tipe", @width = "150px", @placeholder = "0", @readonly = "readonly" })
                                </td>

                            }
                            else if (rider.Category.Equals("Unit"))
                            {
                                <td>
                                    @{
                                var units = rider.RiderTypes.ToList();
                                var list = new List<SelectListItem>();
                                
                                for (int n = 0; n < units.Count(); n++)
                                {
                                    var unit = units[n];var selected = unit.RiderTypeId.ToString() == Model.Riders[i].UnitName ? true: false;
                                    list.Add(new SelectListItem() { Value = unit.RiderTypeId.ToString(), Text = unit.TypeName, Selected = selected });

                                    @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes.ElementAt(n).RiderTypeId,
                                                    new { Name = "Riders[" + i + "].Rider.RiderTypes[" + n + "].RiderTypeId" })
                                        @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes.ElementAt(n).TypeName,
                                                    new { Name = "Riders[" + i + "].Rider.RiderTypes[" + n + "].TypeName" })
                                }

                                @Html.DropDownListFor(m => m.Riders[i].UnitName, list, new { @class = "form-control", @disabled = "disabled", onchange = "unitRiderChanged(this)" })
                                    }
                                </td>
                                <td>
                                    <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12" style="padding:0px;">
                                        @Html.DropDownListFor(m => m.Riders[i].Unit, Sales.Illustration.Web.Extensions.StaticDropdownValues.GetUnitWithSelected(Model.Riders[i].Unit), new { @class = "form-control", @disabled = "disabled", onchange = "unitRiderChanged(this)" })
                                    </div>
                                    <div style="padding-top:5px;float:left;" class="col-xs-2">
                                        <label style="font-size: 14px;"> Unit </label>
                                    </div>
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].BiayaAsuransi, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                            }
                            else if (rider.Category.Equals("Choice"))
                            {
                                <td>
                                    @{
                                var units = rider.RiderTypes.ToList();
                                var list = new List<SelectListItem>();

                                for (int n = 0; n < units.Count(); n++)
                                {
                                    var unit = units[n]; var selected = unit.RiderTypeId.ToString() == Model.Riders[i].Choice ? true : false;
                                    list.Add(new SelectListItem() { Value = unit.RiderTypeId.ToString(), Text = unit.TypeName,Selected = selected });

                                    @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes.ElementAt(n).RiderTypeId,
                                                                        new { Name = "Riders[" + i + "].Rider.RiderTypes[" + n + "].RiderTypeId" })
                                        @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes.ElementAt(n).TypeName,
                                                                        new { Name = "Riders[" + i + "].Rider.RiderTypes[" + n + "].TypeName" })
                                }

                                @Html.DropDownListFor(m => m.Riders[i].Choice, list, new { @class = "form-control", @disabled = "disabled", onchange = "unitRiderChanged(this)" })
                                    }
                                </td>
                                <td></td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].BiayaAsuransi, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                            }
                            else if (rider.Category.Equals("Choices"))
                            {
                                <td>
                                    @{
                                var choices = Model.Riders[i].Choices;
                                for (int n = 0; n < choices.Count; n++)
                                {
                                    var choice = choices[n];
                                    <div class="checkbox-inline col-lg-5">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Riders[i].Choices[n].Checked, new { @readonly = "readonly", onchange = "riderTypeCheckedChange(this)" })
                                            <span style="font-size : 14px;">@choice.RiderType.TypeName</span>
                                            @Html.HiddenFor(m => m.Riders[i].Choices[n].RiderType.RiderTypeId)
                                            @Html.HiddenFor(m => m.Riders[i].Choices[n].RiderType.TypeName)
                                            @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes.ElementAt(n).RiderTypeId,
                                            new { Name = "Riders[" + i + "].Rider.RiderTypes[" + n + "].RiderTypeId" })
                                            @Html.HiddenFor(m => m.Riders[i].Rider.RiderTypes.ElementAt(n).TypeName,
                                            new { Name = "Riders[" + i + "].Rider.RiderTypes[" + n + "].TypeName" })
                                        </label>
                                    </div>
                                }

                                    }
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].UangPertanggungan, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Riders[i].BiayaAsuransi, new { @class = "form-control tipe", @width = "150px", @readonly = "readonly", @placeholder = "0" })
                                </td>
                            }
                        </tr>
                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            Total Biaya Asuransi Tambahan
                        </div>
                        <div id="total_cor" class="col-lg-4">
                            @Html.TextBoxFor(m => m.BiayaAsuransiTambahan, new { @class = "form-control", @readonly = "readonly", @placeholder = "0" })
                            <input type="hidden" id="hdUP" value="@up" />
                            <input type="hidden" id="hdProductCat" value="@pCategory" />
                            <input type="hidden" id="hdProduct" value="@pCode" />
                            <input type="hidden" id="hdAge" value="@age" />
                            <input type="hidden" id="hdRisk" value="@riskClass" />
                            <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
                        </div>
                    </div>
                    <br />
                }
                @if (hasAddIns.Equals("True"))
                {
                    <div class="col-lg-12">
                        <br />
                        <div class="col-lg-3">
                            <label>Tertanggung Tambahan</label>
                        </div>
                        <div class="col-lg-1">
                            <button id="content_save" class="btn btn-warning" onclick="goToAdditional()">
                                YES
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToPremiumAndInvestment", "UnitLink")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearUnitLinkRiderData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>

</div>
<div class="overlay"></div>
@Html.Partial("Footer")
@System.Web.Optimization.Scripts.Render("~/bundles/app")
@using Newtonsoft.Json

<script type="text/javascript">
    @{
        var jsonSetting = new JsonSerializerSettings
        {
            PreserveReferencesHandling = PreserveReferencesHandling.All
        };
    }

    var riders = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.Riders, jsonSetting)));
    var riderCount = @Model.Riders.Count();
    var dataNasabah = resolveReferences(@Html.Raw(JsonConvert.SerializeObject(Model.NasabahData, jsonSetting)));

    $(document).ready(function () {
        var msg = $('#hdErrorMsg').val();

        if (msg != null && msg != "") {
            alertify.alert(msg);
        }

        var productName = dataNasabah.NamaProduk;
        for (var i = 0; i < riders.length; i++) {
            var cb = document.getElementsByName("Riders[" + i + "].Checked")[0];
            var id = cb.getAttribute("id");

            if ($('#' + id + ':checked').val() == "true") {
                if (productName == "HLWIZ") {
                    continue;
                }
                riderCheckedChange(cb);
            }
        }
        if (productName == "HLWIZ") {
            $(document).find("input[type='checkbox']").each(function() {
                $(this).click(function() {
                    return false;
                })
            })
        }
        

        // for sake of OJK, CI Accelerated is locked
        //for (var i = 0; i < riders.length; i++) {
        //    var cb = document.getElementsByName("Riders[" + i + "].Checked")[0];
        //    var id = cb.getAttribute("id");

        //    if (riders[i].Rider.RiderName == "CI Accelerated") {
        //        $(cb).prop("disabled", true);
        //    }
        //}
        
    });

    function next() {
        var check = true;
        $("#content_tb").find("input[name*='UangPertanggungan']").each(function() {
            var val = $(this).val();
            var isChecked = $(this).parent().parent().find("input[name*='Checked']").eq(0).prop("checked");
            if(isChecked && (val == "0" || val == ""))
                check = false;
        });
        if(check)
        {
            $("#form").attr("action", "/UnitLink/ValidateRiderData");
            $("#form").attr("method", "post");
            $("#form").submit();
        }else{
            alertify.alert("Uang Pertanggungan harus diisi jika rider dipilih");
        }
    }

    function goToAdditional() {
        var check = true;
        $("#content_tb").find("input[name*='UangPertanggungan']").each(function() {
            var val = $(this).val();
            var isChecked = $(this).parent().parent().find("input[name*='Checked']").eq(0).prop("checked");
            if(isChecked && (val == "0" || val == ""))
                check = false;
        });
        if(check)
        {
            $("#form").attr("action", "/UnitLink/AdditionalInsured");
            $("#form").submit();
        }else{
            alertify.alert("Uang Pertanggungan harus diisi jika rider dipilih");
        }
    }
    function isCoveredByRider(rider, age) {
        var maxAge = rider.InsuredMaxAge / 12;
        var minAge = parseInt(rider.InsuredMinAge / 12);
        var productName = dataNasabah.NamaProduk;
        var coverTerm = rider.CoverTermWizer / 12;

        var covered = age <= maxAge && age >= minAge;
        if(productName == "HLWIZ")
            covered = age < coverTerm;

        return covered;
    }


    function iterateAllCheckbox() {
        var dis = [];var isTertanggungUtama  = "@ViewData["isTertanggungUtama"]";
        $("#content_tb").find("input[name*='Checked']").each(function() {
            var checkbox = $(this);
            var rowIndex = $(this).parent().parent().parent().parent().index();
            var checked = $(this).prop('checked');
            var disabledRider = riders[rowIndex].Rider.DisableRider;
            if(checked == true && disabledRider!= null)
            {
                var disablednames = disabledRider.split(";");
                for(var i = 0;i < disablednames.length;i++)
                {
                    if(dis.indexOf(disablednames[i]) && !(disablednames[i] == 'WOP' && isTertanggungUtama == "Tidak") && !(disablednames[i] == 'POP' && isTertanggungUtama == "Ya"))
                        dis.push(disablednames[i]);
                }
            }
        });
        disableRiderByElement(dis);
    }

    function disableRiderByElement(dis)
    {
        $('#content_tb').find("input[name*='Rider.RiderCode']").each(function() {
                            var span = $(this);var disableCheckbox = span.parent().find("input[name*='Checked']").eq(0);
                            if (dis.indexOf(span.val()) != -1) {
                                disableCheckbox.attr("disabled",true);
                            } else {

                                disableCheckbox.removeAttr("disabled");
                            }
                        });
    }


    function riderCheckedChange(element) {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var rider = riders[index].Rider;

        //if (rider.RiderName == "CI Accelerated") {
        //    element.checked = false;
        //    return;
        //}

        //checkValidasiRider(rider.RiderCode,element);
        if(checkValidasiRider(rider.RiderCode,element))
        {
            checkAgeForRiderAndElement(rider, element);
            disableRider(rider.Category, index, rider.RiderTypes,rider.RiderCode,element.checked);
            calcTotalCOR();
            iterateAllCheckbox();
        }
    }

    function checkValidasiRider(code,element)
    {
        var isTertanggungUtama  = "@ViewData["isTertanggungUtama"]";
        var caraBayar  = "@ViewData["caraBayar"]";        
        if (code == "POP" && isTertanggungUtama == "Ya")
        {
            alertify.alert("Payor Of Premium tidak bisa diambil karena pemegang polis dan tertanggung utama sama");
            element.checked = false;
            return false;
        }else if (code == "WOP" && isTertanggungUtama == "Tidak")
        {
            alertify.alert("Waiver Of Premium tidak bisa diambil karena pemegang polis dan tertanggung utama tidak sama");
            element.checked = false;
            return false;
        }else if (code == "MG" && caraBayar != "1")
        {
            alertify.alert("Medi Guard Hanya Bisa Diambil Jika Cara Bayar Tahunan");
            element.checked = false;
            return false;
        }else{
            return true;
        }
    }

    function checkAgeForRiderAndElement(rider, element) {
        var age =  dataNasabah.UmurTertanggungUtama ? dataNasabah.UmurTertanggungUtama : dataNasabah.UmurPemegangPolis;
        age = rider.RiderCode == "POP" ? dataNasabah.UmurPemegangPolis : age;
        if (!isCoveredByRider(rider, age)) {
            // if insured age is not covered by rider
            var upName = element.name.replace("Checked","UangPertanggungan");
            alertify.alert("Umur Tertanggung tidak memenuhi syarat untuk mengambil rider ini");
            $(element).prop('checked', false);
            return false;
        }
        return true;
    }


    function disableRider(category, index, types,code,checked) {
        //jika CI Accelerated
        if (code == "CIACC") {
            var upPercentage = document.getElementsByName("Riders[" + index + "].AllocationPercent")[0];
            var up = document.getElementsByName("Riders[" + index + "].UangPertanggungan")[0];
            var coi = document.getElementsByName("Riders[" + index + "].BiayaAsuransi")[0];
            if(checked)
            {
                up.value = parseInt(document.getElementsByName("Riders[" + index + "].Rider.MinPercSumInsured")[0].value) / 100 * toDecimalFormat($('#hdUP').val());
                validateValueInputted(up);
            }else{
                up.value = "";
                upPercentage.value = "";
                coi.value = "";
                return;
            }
            return;
        }

        // disable and enable input according to checkbox check or uncheck
        if (category == "Basic" || category == "Risk") {
            var upPercentage = document.getElementsByName("Riders[" + index + "].AllocationPercent")[0];
            var up = document.getElementsByName("Riders[" + index + "].UangPertanggungan")[0];
            var coi = document.getElementsByName("Riders[" + index + "].BiayaAsuransi")[0];

            //upPercentage.readOnly = !upPercentage.readOnly;
            if (!checked) {
                up.value = "";
                upPercentage.value = "";
                coi.value = "";
                up.readOnly = true;
            }else{
                up.readOnly = false;
            }
        }
        else if (category == "Unit") {
            var unitName = document.getElementsByName("Riders[" + index + "].UnitName")[0];
            var unit = document.getElementsByName("Riders[" + index + "].Unit")[0];
            var coi = document.getElementsByName("Riders[" + index + "].BiayaAsuransi")[0];

            if (!checked) {
                coi.value = "";
                unitName.disabled = true;
                unit.disabled = true;
            }
            else {
                unitName.disabled = false;
                unit.disabled = false;
                unitRiderChanged(unitName);
            }
        }
        else if (category == "Choice") {
            var choice = document.getElementsByName("Riders[" + index + "].Choice")[0];
            var coi = document.getElementsByName("Riders[" + index + "].BiayaAsuransi")[0];
            if(checked)
            {
                choice.disabled = false;
                unitRiderChanged(choice);
            }else{
                coi.value = "";choice.selectedIndex = 0;
                choice.disabled = true;
            }
        }
        else if (category == "Choices") {
            // check all input name that contains the name of choices input
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].name.indexOf("Riders[" + index + "].Choices") >= 0 && inputs[i].name.indexOf("Checked") >= 0) {
                    inputs[i].readOnly = !inputs[i].readOnly;
                    if (!checked) {
                        inputs[i].checked = false;
                        var up = document.getElementsByName("Riders[" + index + "].UangPertanggungan")[0];
                        var coi = document.getElementsByName("Riders[" + index + "].BiayaAsuransi")[0];
                        up.value = "";
                        coi.value = "";
                    }
                }
            }
        }
    }

    function riderTypeCheckedChange(element) {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var rider = riders[index].Rider;
        var tr = $(element).parent().parent().parent().parent();
        var trchecked = tr.find("input[name*='Checked']").eq(0).prop('checked');
        if(!trchecked)
        {
            element.checked = false;
            return;
        }
        hitungCOR(name, 0, rider);
    }

    function unitRiderChanged(element) {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var rider = riders[index].Rider;

        hitungCOR(name, 0, rider);
    }

    function validateValueInputted(element) {
        var name = element.getAttribute("name");
        var i = name.indexOf("[");
        var n = name.indexOf("]");
        var index = name.substring(i + 1, n);
        var rider = riders[index].Rider;
        var tr = $(element).parent().parent();
        var trchecked = tr.find("input[name*='Checked']").eq(0).prop('checked');
        if(trchecked)
        {
            if (name.indexOf("Allocation") >= 0) {
                if(validateInputAllocationPercent(element,rider,name))
                    validateInputAmount(document.getElementsByName("Riders[" + index + "].UangPertanggungan")[0],rider,name);
            } else {
                //if(validateInputAmount(element,rider,name))
                //    validateInputAllocationPercent(document.getElementsByName("Riders[" + index + "].AllocationPercent")[0],rider,name);
                validateInputAmount(element,rider,name);
            }
        }
    }

    function validateInputAllocationPercent(element,rider,name)
    {
        // if the element checked is allocation percentage textbox
        var percentage = parseInt(element.value.replace("%", ""));
        var maxPercentage = rider.MaxPercSumInsured;
        var minPercentage = rider.MinPercSumInsured;
        var up = toDecimalFormat($('#hdUP').val());
        if (minPercentage != null && percentage < minPercentage) {
            alertify.alert("Minimal uang pertanggungan untuk " + rider.RiderName + " adalah " + minPercentage + "%");
            element.value = minPercentage + "%";
            name = name.replace("AllocationPercent", "UangPertanggungan");
            $('#content_tb input[name="' + name + '"]').val(toMoneyFormat((minPercentage / 100) * up));
            calcTotalCOR();
            return true;
        }
        if (maxPercentage != null && percentage > maxPercentage) {
            alertify.alert("Maksimal uang pertanggungan untuk " + rider.RiderName + " is " + maxPercentage + "%");
            element.value = maxPercentage + "%";
            name = name.replace("AllocationPercent", "UangPertanggungan");
            $('#content_tb input[name="' + name + '"]').val(toMoneyFormat((maxPercentage / 100) * up));
            calcTotalCOR();
            return true;
        }
        // set UP from allocation perc
        var upR = toMoneyFormat((percentage / 100) * up);
        name = name.replace("AllocationPercent", "UangPertanggungan");
        $('#content_tb input[name="' + name + '"]').val(upR);

        // calculate cor
        hitungCOR(name, toDecimalFormat(upR), rider);
        return true;
    }

    function validateInputAmount(element,rider,name)
    {
        // if the element that checked is sum insured textbox
        var sumInsuredReal = parseFloat(element.value.replace(/,/g, ""));
        var sumInsured = parseFloat(element.value.replace(/,/g, "")); var alert = "";
        var up = parseFloat($('#hdUP').val().replace(/,/g, ""));var ret = true;

        if (!isNumeric(toDecimalFormat(element.value)))
        {
            alert = "Uang Pertanggungan harus angka";
            $('#content_tb input[name="' + name + '"]').val(""); sumInsured = 0;
            named = name.replace("UangPertanggungan", "AllocationPercent");
            $('#content_tb input[name="' + named + '"]').val("0%");
            ret = false;
        }else{
            var perc = (sumInsured / up) * 100;
            var maxPercentage = rider.MaxPercSumInsured;
            var minPercentage = rider.MinPercSumInsured;
            var checkamount = true;var salah = "min";
            var maxSumInsured = rider.MaxAmountSumInsured;
            var minSumInsured = rider.MinAmountSumInsured;

            if (minPercentage != null && perc < minPercentage) {
                if(ret)
                    alert = "Minimal uang pertanggungan untuk " + rider.RiderName + " adalah " + minPercentage + "% dari uang pertanggungan dasar";

                name = name.replace("AllocationPercent", "UangPertanggungan");sumInsured = (minPercentage / 100) * up > minSumInsured ? (minPercentage / 100) * up : minSumInsured;
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured.toString()));
                name = name.replace("UangPertanggungan", "AllocationPercent");
                $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
                ret = false;salah = "min";
            }

            if (maxPercentage != null && perc > maxPercentage) {
                if(ret)
                    alert = "Maksimal uang pertanggungan untuk " + rider.RiderName + " adalah " + maxPercentage + "% dari uang pertanggungan dasar";
               
                name = name.replace("AllocationPercent", "UangPertanggungan");sumInsured = (maxPercentage / 100) * up > maxSumInsured ? maxSumInsured : (maxPercentage / 100) * up;
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured.toString()));
                name = name.replace("UangPertanggungan", "AllocationPercent");
                $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
                ret = false;salah = "max";
            }

            if (minSumInsured != null && sumInsured < minSumInsured) {
                if(ret)
                    alert = "Minimal uang pertanggungan untuk " + rider.RiderName + " adalah " + toMoneyFormat(minSumInsured);
                else
                    alert += " dengan minimal nilai " + toMoneyFormat(minSumInsured);

                name = name.replace("AllocationPercent", "UangPertanggungan");sumInsured = (minPercentage / 100) * up > minSumInsured ? (minPercentage / 100) * up : minSumInsured;
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured.toString()));
                name = name.replace("UangPertanggungan", "AllocationPercent");
                $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
                checkamount = false;salah = "min";
            }

            if (maxSumInsured != null && sumInsured > maxSumInsured) {
                if(ret)
                    alert = "Maksimal uang pertanggungan untuk " + rider.RiderName + " adalah " + toMoneyFormat(maxSumInsured);
                else
                    alert += " dengan maksimal nilai " + toMoneyFormat(maxSumInsured);

                name = name.replace("AllocationPercent", "UangPertanggungan");sumInsured = (maxPercentage / 100) * up > maxSumInsured ? maxSumInsured : (maxPercentage / 100) * up;
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured.toString()));
                name = name.replace("UangPertanggungan", "AllocationPercent");
                $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
                checkamount = false;salah = "max";
            }


            if((((sumInsured * 100 /up)) % 5) != 0  && rider.RiderCode == "CI" && sumInsured != maxSumInsured)
            {
                if(((minPercentage / 100) * up) > maxSumInsured == false)
                {
                    if(ret && checkamount)
                        alert = "Persentase rider CI harus kelipatan 5% dari uang pertanggungan dasar";
                    else
                        alert += " dan persentase rider CI harus kelipatan 5% dari uang pertanggungan dasar";

                    sumInsured = salah == "min" ? ((minPercentage / 100) * up) > minSumInsured ? (minPercentage / 100) * up : minSumInsured : maxSumInsured;
                    ret = false;
                }else{
                    sumInsured = maxSumInsured;
                }
                name = name.replace("AllocationPercent", "UangPertanggungan");
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured));
                name = name.replace("UangPertanggungan", "AllocationPercent");
                $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
            }

            // set allocation perc from UP
            if(alert == "")
            {
                name = name.replace("AllocationPercent", "UangPertanggungan");
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(sumInsured));
                name = name.replace("UangPertanggungan", "AllocationPercent");
                $('#content_tb input[name="' + name + '"]').val(roundNumber(((sumInsured/up) * 100), 0) + "%");
            }
        }

        if(alert != "" && sumInsured != sumInsuredReal)
            alertify.alert(alert);
            // calculate cor
        hitungCOR(name, sumInsured, rider);
        calcTotalCOR();
        return true;
    }

    function hitungCOR(name, up, rider) {
        var riskClass = $('#hdRisk').val();
        var age = $('#hdAge').val();

        if (rider.Category == "Basic" || rider.Category == "Risk") {
            if (name.indexOf("UangPertanggungan") >= 0)
                name = name.replace("UangPertanggungan", "Checked");
            else
                name = name.replace("AllocationPercent", "Checked");

            calcUnitLinkCOR(toDecimalFormat(up), rider.RiderCode, null, age, riskClass, rider.Category, null, function (cor) {
                name = name.replace("Checked", "BiayaAsuransi");
                cor = roundNumber(cor, 0);
                $('#content_tb input[name="' + name + '"]').val(toMoneyFormat(cor));
                calcTotalCOR();
            });
        }
        else if (rider.Category == "Choices") {
            if (name.indexOf("Checked") >= 0) {
                var element = document.getElementsByName(name)[0];
                var riderTypeIndex = $(element).parent().parent().index();
                var choiceCheckbox = $('input[name="' + name + '"]');
                var riderTypeId = rider.RiderTypes[riderTypeIndex].RiderTypeId;
                var modeBayar = $('#hdModeBayar').val();

                calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, age, null, rider.Category, null, function (cor) {
                    name = name.replace("Checked", "BiayaAsuransi");
                    name = name.split('.')[0] + '.' + name.split('.')[2];

                    var corName = name;
                    var upName = name.replace("BiayaAsuransi", "UangPertanggungan");
                    var corInput = $('#content_tb input[name="' + corName + '"]');
                    var upInput = $('#content_tb input[name="' + upName + '"]');

                    var currentCor = parseInt(toDecimalFormat(corInput.val()));

                    corInput.val(toMoneyFormat(choiceCheckbox.prop('checked') ? roundNumber(cor.cor, 0) + currentCor : currentCor - roundNumber(cor.cor, 0)));
                    upInput.val(toMoneyFormat(roundNumber(cor.upR, 0)));

                    if (corInput.val() == "0" || corInput.val() == "") {
                        upInput.val("");
                        corInput.val("");
                    }
                    calcTotalCOR();
                });
            }
        }
        else if (rider.Category == "Unit") {
            getRiderSumInsured(age, function (si) {
                if (si == true) {
                    var si = toDecimalFormat($('#hdUP').val());

                    if (name.indexOf("UnitName") >= 0) {
                        var ddlType = document.getElementsByName(name)[0];
                        var idType = ddlType.getAttribute("id");
                        var riderTypeId = $('#' + idType + '').val();

                        name = name.replace("UnitName", "Unit");
                        var ddlUnit = document.getElementsByName(name)[0];
                        var idUnit = ddlUnit.getAttribute("id");
                        var unit = $('#' + idUnit + '').val();

                        getUnitMapping(rider.RiderCode, riderTypeId, si, function (mapUnit) {
                            getMaxUnitMapping(rider.RiderCode, riderTypeId, si, function (mapMax) {
                                if (mapUnit != "0") 
                                    mapUnit = mapUnit["Unit"];                            
                                else
                                    mapUnit = mapMax.Unit;
                                
                                if (parseInt(mapUnit) >= parseInt(unit)) {
                                    calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, age, null, rider.Category, unit, function (cor) {
                                        name = name.replace("Unit", "BiayaAsuransi");
                                        var corInput = $('#content_tb input[name="' + name + '"]');
                                        corInput.val(toMoneyFormat(roundNumber(cor, 0)));
                                        
                                        calcTotalCOR();
                                    });
                                }
                                else {
                                    if (parseInt(mapUnit) > 0) {
                                        alertify.alert("Maximum limit " + rider.RiderCode + " adalah " + mapUnit + " Unit");
                                        $('#' + idUnit + '').val(mapUnit);
                                        unit = mapUnit;
                                    }
                                    else {
                                        getSantunanHarian(rider.RiderCode, mapMax.RiderTypeId, function(santunan) {
                                                alertify.alert("Limit santunan " + rider.RiderCode + " adalah " + toMoneyFormat(santunan));
                                        });
                                        $('#' + idType + '').val(mapMax.RiderTypeId);
                                        riderTypeId = mapMax.RiderTypeId;
                                        unit = unit > mapMax.Unit ? mapMax.Unit : unit;
                                        $('#' + idUnit + '').val(unit);
                                    }

                                    calcUnitLinkCOR(up, rider.RiderCode,riderTypeId , age, null, rider.Category, unit, function (cor) {
                                        name = name.replace("Unit", "BiayaAsuransi");
                                        var corInput = $('#content_tb input[name="' + name + '"]');
                                        corInput.val(toMoneyFormat(roundNumber(cor, 0)));
                                        
                                        calcTotalCOR();
                                    });

                                    //name = name.replace("Unit", "BiayaAsuransi");
                                    //var corInput = $('#content_tb input[name="' + name + '"]');
                                    //corInput.val('');
                                }
                            });
                        });
                    }
                    else {
                        var ddlUnit = document.getElementsByName(name)[0];
                        var idUnit = ddlUnit.getAttribute("id");
                        var unit = $('#' + idUnit + '').val();

                        name = name.replace("Unit", "UnitName");
                        var ddlType = document.getElementsByName(name)[0];
                        var idType = ddlType.getAttribute("id");
                        var riderTypeId = $('#' + idType + '').val();

                        getUnitMapping(rider.RiderCode, riderTypeId, si, function (mapUnit) {
                            getMaxUnitMapping(rider.RiderCode, riderTypeId, si, function (mapMax) {
                                if (mapUnit != "0") 
                                    mapUnit = mapUnit["Unit"];                            
                                else
                                    mapUnit = mapMax.Unit;

                            if (parseInt(mapUnit) >= parseInt(unit)) {
                                calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, age, null, rider.Category, unit, function (cor) {
                                    name = name.replace("UnitName", "BiayaAsuransi");
                                    var corInput = $('#content_tb input[name="' + name + '"]');
                                    corInput.val(toMoneyFormat(roundNumber(cor, 0)));

                                    calcTotalCOR();
                                });
                            }
                            else {
                                if (parseInt(mapUnit) > 0) {
                                    alertify.alert("Maximum limit " + rider.RiderCode + " adalah " + mapUnit + " Unit");
                                    $('#' + idUnit + '').val(mapUnit);
                                    unit = mapUnit;
                                }
                                else {
                                    getSantunanHarian(rider.RiderCode, mapMax.RiderTypeId, function(santunan) {
                                            alertify.alert("Limit santunan " + rider.RiderCode + " adalah " + toMoneyFormat(santunan));
                                        });
                                    $('#' + idType + '').val(mapMax.RiderTypeId);
                                        riderTypeId = mapMax.RiderTypeId;
                                        unit = unit > mapMax.Unit ? mapMax.Unit : unit;
                                        $('#' + idUnit + '').val(unit);
                                }

                                calcUnitLinkCOR(up, rider.RiderCode,riderTypeId , age, null, rider.Category, unit, function (cor) {
                                    name = name.replace("UnitName", "BiayaAsuransi");
                                    var corInput = $('#content_tb input[name="' + name + '"]');
                                    corInput.val(toMoneyFormat(roundNumber(cor, 0)));

                                    calcTotalCOR();
                                });

                                //name = name.replace("UnitName", "BiayaAsuransi");
                                //var corInput = $('#content_tb input[name="' + name + '"]');
                                //corInput.val('');
                            }
                            });
                        });
                    }

                    cekSantunanHarian(rider.RiderCode,riderTypeId,rider.Category);
                }
            });
        }
        else if (rider.Category == "Choice") {
            if (name.indexOf("Choice") >= 0) {
                var ddlType = document.getElementsByName(name)[0];
                var idType = ddlType.getAttribute("id");
                var riderTypeId = $('#' + idType + '').val();
                var si = toDecimalFormat($('#hdUP').val());
                
                getUnitMapping(rider.RiderCode, null, si, function (mapUnit) {
                    if (mapUnit != "0") {
                        var benefit = mapUnit["MaxBenefit"];
                        console.log(mapUnit);
                        getSantunanHarian(rider.RiderCode, riderTypeId, function(santunan) {
                            console.log(santunan + " " + benefit);
                            if (parseInt(santunan) > parseInt(benefit)) {
                                alertify.alert("Santunan harian melebihi " + toMoneyFormat(benefit));

                                name = name.replace("Choice", "BiayaAsuransi");
                                var corInput = $('#content_tb input[name="' + name + '"]');
                                corInput.val('');

                                calcTotalCOR();
                            }
                            else {
                                calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, age, null, rider.Category, null, function (cor) {
                                    name = name.replace("Choice", "BiayaAsuransi");
                                    var corInput = $('#content_tb input[name="' + name + '"]');
                                    corInput.val(toMoneyFormat(roundNumber(cor, 0)));

                                    calcTotalCOR();
                                });
                            }
                            cekSantunanHarian(rider.RiderCode,riderTypeId,rider.Category);
                        });
                    }
                    else {
                        calcUnitLinkCOR(up, rider.RiderCode, riderTypeId, age, null, rider.Category, null, function (cor) {
                            name = name.replace("Choice", "BiayaAsuransi");
                            var corInput = $('#content_tb input[name="' + name + '"]');
                            corInput.val(toMoneyFormat(roundNumber(cor, 0)));

                            calcTotalCOR();
                        });
                    }
                });
            }
        }
    }

    function cekSantunanHarian(code,typeid,category)
    {
        var indexMG = riders.map(function(o) { return o.Rider.RiderCode; }).indexOf("MG");
        var indexHCP = riders.map(function(o) { return o.Rider.RiderCode; }).indexOf("HCP");
        var indexAHCP = riders.map(function(o) { return o.Rider.RiderCode; }).indexOf("AHCP");
        var si = toDecimalFormat($('#hdUP').val());
        var umRiderType = 0; var umRdCode = "";var corIndex = riders.map(function(o) { return o.Rider.RiderCode; }).indexOf(code);;

        getSantunanHarian(riders[indexMG].Rider.RiderCode, $('#content_tb select[name="Riders['+indexMG+'].Choice"]').val() , function(stMG) {
            var santunanMG = $('#content_tb input[name="Riders['+indexMG+'].Checked"]').is(":checked") ?  stMG : 0;
            getSantunanHarian(riders[indexHCP].Rider.RiderCode, $('#content_tb select[name="Riders['+indexHCP+'].UnitName"]').val() , function(stHCP) {
                var santunanHCP = $('#content_tb input[name="Riders['+indexHCP+'].Checked"]').is(":checked") ?  stHCP * parseInt($('#content_tb select[name="Riders['+indexHCP+'].Unit"]').val()) : 0;
                getSantunanHarian(riders[indexAHCP].Rider.RiderCode, $('#content_tb select[name="Riders['+indexAHCP+'].UnitName"]').val() , function(stAHCP) {
                    var santunanAHCP = $('#content_tb input[name="Riders['+indexAHCP+'].Checked"]').is(":checked") ?  stAHCP * parseInt($('#content_tb select[name="Riders['+indexAHCP+'].Unit"]').val()) : 0;

                    if($('#content_tb input[name="Riders['+indexAHCP+'].Checked"]').is(":checked"))
                    {
                        umRdCode = riders[indexAHCP].Rider.RiderCode;umRiderType = $('#content_tb select[name="Riders['+indexAHCP+'].UnitName"]').val();
                        
                    }else if($('#content_tb input[name="Riders['+indexHCP+'].Checked"]').is(":checked"))
                    {
                        umRdCode = riders[indexHCP].Rider.RiderCode;umRiderType = $('#content_tb select[name="Riders['+indexHCP+'].UnitName"]').val();
                    }else{
                        umRdCode = riders[indexMG].Rider.RiderCode;umRiderType = null;
                    }

                    if(umRdCode != "MG")
                    {
                        getMaxUnitMapping(umRdCode, umRiderType, si, function (mapMax) {
                            if($('#content_tb input[name="Riders['+indexAHCP+'].Checked"]').is(":checked") && $('#content_tb input[name="Riders['+indexMG+'].Checked"]').is(":checked") && (santunanAHCP + santunanHCP + santunanMG) > (parseInt(mapMax.Unit) * parseInt(mapMax.MaxBenefit)))
                            {
                                alertify.alert("Santunan harian melebihi " + toMoneyFormat(parseInt(mapMax.Unit) * parseInt(mapMax.MaxBenefit)));
                                $('#content_tb input[name="Riders['+corIndex+'].BiayaAsuransi"]').val('');
                                calcTotalCOR();
                            }
                        });
                    }
                
                });
            });
        });
    }

    function calcTotalCOR() {
        var total = 0;
        for (var i = 0; i < riderCount; i++) {
            var cbr = document.getElementsByName("Riders[" + i + "].BiayaAsuransi")[0];
            var id = cbr.getAttribute("id");
            var idValue = $('#' + id + '').val();
            total = total + parseInt(toDecimalFormat(idValue));
        }

        $('#@Html.IdFor(m => m.BiayaAsuransiTambahan)').val(toMoneyFormat(total));
    }

</script>