﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Sales.Illustration.Web.ViewModel.SummaryViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@ViewData["produk"]</b></h5></center>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("Report", "UnitLink", FormMethod.Post, new { @id = "form" }))
                {
                    <div class="content-tittle-1">
                        <i class="p1"></i> Data Nasabah
                    </div>
                    <div class="table-responsive">
                        <table id="content_tb" class="table-reg table" style="font-size: 14px;">
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Nama
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.NamaPemegangPolis)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Tanggal Lahir
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.TanggalLahirPemegangPolis)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Jenis Kelamin
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.JenisKelaminPemegangPolis)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Status Pekerjaan
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayName(ViewData["pekerjaanP"] as string)
                                    </div>
                                </td>
                            </tr>
                            @*<tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Kelas Pekerjaan
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.KelasPekerjaanPemegangPolis)
                                    </div>
                                </td>
                            </tr>*@
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Umur
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.UmurPemegangPolis) Tahun
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Tertanggung Utama
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Nasabah.TertanggungUtama)
                                    </div>
                                </td>
                            </tr>
                            @if (Model.Nasabah.TertanggungUtama.Equals("Tidak"))
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Nama
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.NamaTertanggungUtama)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Tanggal Lahir
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.TanggalLahirTertanggungUtama)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Jenis Kelamin
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.JenisKelaminTertanggungUtama)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Status Pekerjaan
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayName(ViewData["pekerjaanT"] as string)
                                        </div>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Kelas Pekerjaan
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.KelasPekerjaanTertanggungUtama)
                                        </div>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Umur
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.UmurTertanggungUtama) Tahun
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Hubungan dengan Pemegang Polis
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Nasabah.Relation)
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Nama Produk
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayName(ViewData["produk"] as string)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/icon-moneybag.png" /> Premi dan Uang Pertanggungan
                    </div>
                    <div class="table-responsive">
                        <table id="content_tb" class="table-reg table" style="font-size: 14px;">
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Mata Uang
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Premi.MataUang)
                                    </div>
                                </td>
                            </tr>
                            @if (Model.Premi.RencanaMasaPembayaran != 0)
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            Rencana Masa Pembayaran Premi
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            @Html.DisplayFor(m => m.Premi.RencanaMasaPembayaran) Tahun
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Premi Berkala
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Premi.PremiBerkala)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Top Up Berkala
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Premi.TopupBerkala)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Uang Pertanggungan
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Premi.UangPertanggungan)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/icon-cost.png" /> Biaya Asuransi
                    </div>
                    <div class="table-responsive">
                        <table id="content_tb" class="table-reg table" style="font-size: 14px;">
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Total Biaya Asuransi
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Insurance.BiayaAsuransiTotal)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Rasio Biaya Asuransi Terhadap Premi
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayFor(m => m.Insurance.RatioPremiBerkala)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        Pilihan Bahasa
                                    </div>
                                </td>
                                <td>:</td>
                                <td>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        @Html.DisplayName(ViewData["language"] as string)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("InsuranceCostAndRatio", "UnitLink")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                &nbsp;
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("Report", "UnitLink")';">
                    NEXT
                </button>
            </div>
        </div>
    </div>

</div>
@Html.Partial("Footer")

<script type="text/javascript">

</script>
