﻿@model Sales.Illustration.Web.Domain.TopUpWithdrawal

<tr>
    @using (Html.BeginCollectionItem("TopupWithdrawals"))
    {
        <td>
            @if (Model.IsTopUp)
            {
                @Html.TextBox("txtType", "TOP UP", new { @class = "form-control tipe", @readonly = "readonly", width = "100px" })
            }
            else
            {
                @Html.TextBox("txtType", "WITHDRAWAL", new { @class = "form-control tipe", @readonly = "readonly", width = "100px" })
            }
            @Html.HiddenFor(m => m.IsTopUp)
        </td>
        <td>
            @if (Model.IsTopUp)
            {
                @Html.DropDownListFor(m => m.Year, Sales.Illustration.Web.Extensions.StaticDropdownValues.getNinetyNineYearsWithStart((int)ViewData["TopUpStartYear"]), new { @class = "form-control tipe2" })
            }
            else
            {
                @Html.DropDownListFor(m => m.Year, Sales.Illustration.Web.Extensions.StaticDropdownValues.getNinetyNineYearsWithStart((int)ViewData["WithdrawalStartYear"]), new { @class = "form-control tipe2" })
            }
        </td>
        <td>
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control tipe", @placeholder = "0", @oninput = "toMoneyFormatElement(this)", @onblur = "validateAmountTopupWithdrawal(this)" })
        </td>
        <td>
            <button id="delete_button" class="btn btn-warning" onclick="remove(this)">
                DELETE
            </button>
        </td>
    }

</tr>



