﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model Sales.Illustration.Web.ViewModel.ProfileViewModel
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>PROFILE</b></h5></center>
    </div>
    @if (TempData["notice"] != null)
    {
        <p>@TempData["notice"]</p>
    }
    <div class="row">
        <div class=" col-xs-12">
            <div class="main-content" style="background-image:url('/Content/dist/img/profil-header.png'); background-repeat: no-repeat; background-size: 100% 25%;">
                <div class="row">
                    <div class="col-lg-12 photosettings text-center">
                        <img src="/Content/dist/img/pict.png" class="img-circle profilpicture" alt="Cinque Terre" width="150" height="150" style="border: 5px solid white;">
                        <br /><h4>
                            <strong>
                                <p style="text-align:center">
                                    @Html.DisplayFor(x => x.Name)
                                </p>
                            </strong>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:5%; padding-bottom:10%; min-height:180px">
                        <div class="col-xs-12 col-sm-4 nc">
                            <div class="col-xs-12 col-lg-6 text-center">
                                <img class="profildetail" src="/Content/dist/img/agent.png">
                            </div>
                            <div class="col-xs-12 col-lg-6 nx">
                                @Html.LabelFor(x => x.AgentCode)<br />
                                <span style="color:#a5a5a5">@Html.DisplayFor(x => x.AgentCode)</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 nc">
                            <div class="col-xs-12 col-lg-6 text-center">
                                <img class="profildetail" src="/Content/dist/img/calendar.png">
                            </div>
                            <div class="col-xs-12 col-lg-6 nx">
                                @Html.LabelFor(x => x.JoinDate)<br />
                                <span style="color:#a5a5a5">@Html.DisplayFor(x => x.JoinDate)</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 nc">
                            <div class="col-xs-12 col-lg-6 text-center">
                                <img class="profildetail" src="/Content/dist/img/license.png">
                            </div>
                            <div class="col-xs-12 col-lg-6 nx">
                                @Html.LabelFor(x => x.LicenseNo)<br />
                                <span style="color:#a5a5a5">@Html.DisplayFor(x => x.LicenseNo)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Footer")
