﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
    </div>
    <div class="main-content" style="background-image:url('/Content/dist/img/thx.png'); background-repeat: no-repeat; background-size: 100% 100%;">

    </div>
</div>
@Html.Partial("Footer")
