﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pTitle = ViewData["ProductTitle"];
    var insAge = ViewData["insAge"];
}
@using Sales.Illustration.Web.Extensions
@model Sales.Illustration.Web.ViewModel.PremiumAndInvestmentViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>
    <div style="min-height:40px;overflow:hidden;">
        <center>
            <div id="msform">
                <ul id="progressbar" style="padding-left:0px;">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </center>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("ValidatePremiumAndInvestmentData", "Traditional", FormMethod.Post, new { @id = "form" }))
                {
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/icon-moneybag.png" /> Premi dan Uang Pertanggungan
                    </div>
                    <fieldset>
                        <div class="col-lg-12">
                            <div class="row row-form" style="margin:0px -30px;">
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Cara Pembayaran Premi
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(m => m.ModeBayarPremi, StaticDropdownValues.GetPaymentMode(), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="pilihanMasaBayar">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Pilihan Masa Pembayaran Premi Berkala
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(m => m.PilihanMasaPembayaran, StaticDropdownValues.GetPaymentPeriod(), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Uang Pertanggungan
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.UangPertanggungan, new { @class = "form-control", @placeholder = "0", oninput = "toMoneyFormatElement(this)" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak" id="caraBayar">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">
                                            Mode Premi Berkala
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(m => m.CaraBayar, ViewData["paymentMethods"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label" id="lblPremi">
                                            Premi Bulanan
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(m => m.PremiBerkala, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="content-tittle-1">
                        <img src="/Content/dist/img/p1.png" /> Informasi Virtual Anak
                    </div>
                    <fieldset>
                        <div class="row row-form" style="margin:0px -15px;">
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label class="control-label">
                                        Usia Masuk Anak
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @Html.TextBoxFor(m => m.UsiaMasukAnak, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label class="control-label">
                                        Masa Asuransi
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @Html.TextBoxFor(m => m.MasaAsuransi, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label class="control-label" id="lblMasaBayar">
                                        Masa Pembayaran Premi
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    @Html.TextBoxFor(m => m.RencanaMasaPembayaran, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div style="padding-top:5px;float:left;" class="col-xs-2">Tahun</div>
                                <input type="hidden" id="hdInsAge" value="@insAge" />
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("BackToNasabahData", "Traditional")';">
                    BACK
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_clear" class="btn btn-warning" onclick="window.location.href='@Url.Action("ClearTraditionalPremiumAndInvestmentData", "ClearData")';">
                    CLEAR
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="next()">
                    NEXT
                </button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Footer")

@System.Web.Optimization.Scripts.Render("~/bundles/app")

<script type="text/javascript">
    $('document').ready(function () {
        if ($('#@Html.IdFor(m => m.UangPertanggungan)').val() > 0) {

        }
        hitungMasaAsuransi();
        hitungMasaBayarPremi();
    });

    $('#@Html.IdFor(m => m.ModeBayarPremi)').change(function () {
        hitungMasaAsuransi();
        hitungMasaBayarPremi();
    });

    $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').change(function () {
        hitungMasaBayarPremi();
    });

    $('#@Html.IdFor(m => m.CaraBayar)').change(function () {
        $('#lblPremi').html("Premi " + $(this).find('option:selected').text());
        if ($('#@Html.IdFor(m => m.UangPertanggungan)') != "")
            hitungPremi();
    });

    $('#@Html.IdFor(x => x.UangPertanggungan)').on('focusout change', function () {
        if (isNumeric(toDecimalFormat($('#@Html.IdFor(x => x.UangPertanggungan)').val()))) {
            var x = $(this).val();
            if (parseInt(x) > 0) {
                hitungPremi();
                $(this).val(toMoneyFormat(toDecimalFormat(x)));
            }
        }
        else {
            alertify.alert("Nilai uang pertanggungan harus angka.");
            $('#@Html.IdFor(x => x.UangPertanggungan)').val('');
            //$('#@Html.IdFor(m => m.PremiBerkala)').val('');
        }
    });

    function hitungMasaAsuransi() {
        var x = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();
        if (x == "sekaligus") {
            $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').prop('disabled', true);
            $('#pilihanMasaBayar').hide();
            $('#@Html.IdFor(m => m.CaraBayar)').prop('disabled', true);
            $('#caraBayar').hide();
            $('#lblPremi').html("Premi Sekaligus");
            $('#lblMasaBayar').html("Masa Tunggu Tahapan");
        }
        else {
            $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').prop('disabled', false);
            $('#pilihanMasaBayar').show();
            $('#@Html.IdFor(m => m.CaraBayar)').prop('disabled', false);
            $('#caraBayar').show();
            $('#lblPremi').html("Premi " + $('#@Html.IdFor(m => m.CaraBayar)').find('option:selected').text());
            $('#lblMasaBayar').html("Masa Pembayaran Premi");
        }

        var usiaAnak = $('#@Html.IdFor(m => m.UsiaMasukAnak)').val();
        getInsurancePeriod(usiaAnak, function (result) {
            $('#@Html.IdFor(m => m.MasaAsuransi)').attr("value", result);
        });
    }

    function hitungMasaBayarPremi() {
        var usiaAnak = $('#@Html.IdFor(m => m.UsiaMasukAnak)').val();
        var periodeBayar = $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').val();
        var modeBayar = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();

        getPaymentPeriod(usiaAnak, periodeBayar, modeBayar, function (result) {
            if (result <= 0) {
                $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').attr("value", "0");
                $("#@Html.IdFor(m => m.PilihanMasaPembayaran)").val($("#@Html.IdFor(m => m.PilihanMasaPembayaran) option:first").val());
                alertify.alert("Maksimum usia masuk anak " + (18 - parseInt(periodeBayar)) + " tahun");
                hitungMasaBayarPremi();
            }
            else if (result > 0 && modeBayar == "berkala" && parseInt(usiaAnak) > 13 && $("#@Html.IdFor(m => m.PilihanMasaPembayaran)").val() == "18") {
                alertify.alert("Maksimum usia masuk anak 13 tahun");
            }
            else {
                $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').attr("value", result);

                if ($('#@Html.IdFor(m => m.UangPertanggungan)').val() != "")
                    hitungPremi();
            }
        });
    }

    function hitungPremi() {
        var masaBayar = $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val();
        var modeBayar = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();
        var insage = $('#hdInsAge').val();

        if (parseInt(masaBayar) + parseInt(insage) > 65) {
            if (modeBayar == "sekaligus") {
                alertify.alert("Maksimal usia masuk tertanggung utama ditambah masa tunggu tahapan adalah 65 tahun");
            }
            else {
                alertify.alert("Maksimal usia masuk tertanggung utama ditambah masa pembayaran premi adalah 65 tahun");
            }

            $('#@Html.IdFor(m => m.PremiBerkala)').attr("value", "");
        }
        else {
            getProductCode(function (prodCode) {
                getProduct(prodCode, function (product) {
                    var minUP = product["MinAmountSumInsured"];
                    var up = toDecimalFormat($('#@Html.IdFor(m => m.UangPertanggungan)').val());

                    if (up >= minUP) {
                        var usiaAnak = $('#@Html.IdFor(m => m.UsiaMasukAnak)').val();
                        var masaAsuransi = $('#@Html.IdFor(m => m.MasaAsuransi)').val();
                        var periodeBayar = $('#@Html.IdFor(m => m.PilihanMasaPembayaran)').val();

                        calcPremiTraditional(toDecimalFormat(up), modeBayar, usiaAnak, masaBayar, masaAsuransi, function (result) {
                            var premi = result;
                            var caraBayar = $('#@Html.IdFor(m => m.CaraBayar)').val();

                            if (modeBayar == "sekaligus")
                                $('#@Html.IdFor(m => m.PremiBerkala)').attr("value", toMoneyFormat(roundNumber(premi, 1)));
                            else {
                                getPaymentMethod(parseInt(caraBayar), function (pm) {
                                    var factor = parseFloat(pm["Factor"]);
                                    $('#@Html.IdFor(m => m.PremiBerkala)').attr("value", toMoneyFormat(roundNumber(premi * (factor / 100), 1)));
                                });
                            }
                        });
                    }
                    else {
                        alertify.alert("Minimal uang pertanggungan adalah " + toMoneyFormat(minUP) + " !");
                        $('#@Html.IdFor(m => m.PremiBerkala)').attr("value", "");
                    }
                });
            });
        }
    }

    function next() {
        var up = $('#@Html.IdFor(m => m.UangPertanggungan)').val();
        var premi = $('#@Html.IdFor(m => m.PremiBerkala)').val();
        var masaBayar = $('#@Html.IdFor(m => m.RencanaMasaPembayaran)').val();
        var modeBayar = $('#@Html.IdFor(m => m.ModeBayarPremi)').val();

        if (parseInt(masaBayar) > 0 && masaBayar != null && masaBayar != "") {
            if (up != null && up != "") {
                if (premi != null && premi != "" && parseInt(toDecimalFormat(premi)) > 0) {
                    $("#form").submit();
                }
                else {
                    alertify.alert("Data premi dan uang pertanggungan belum lengkap!");
                }
            }
            else {
                alertify.alert("Data premi dan uang pertanggungan belum lengkap!");
            }
        }
        else {
            if (modeBayar == "sekaligus")
                alertify.alert("Minimal masa tunggu tahapan adalah 5 tahun!");
            else
                alertify.alert("Minimal masa pembayaran premi adalah 1 tahun!");
        }
    }
</script>
