﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string errorMsg = TempData["errorMsg"] != null ? TempData["errorMsg"].ToString() : "";
    string path = ViewData["path"].ToString().Replace("\\", "/");
    var pTitle = ViewData["ProductTitle"];
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>

    <div class="main-content" style="padding: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <iframe width="100%" height="100%" src="@path"></iframe>
                <input type="hidden" id="hdErrorMsg" value="@errorMsg" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("ResetAllData", "Traditional")';">
                    CREATE NEW
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("Download", "Report")';">
                    SAVE PDF
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-right">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("SendMailReport", "Traditional")';">
                    EMAIL
                </button>
            </div>
        </div>
    </div>

</div>
@Html.Partial("Footer")

<script type="text/javascript">
    $(document).ready(function () {
        var msg = $('#hdErrorMsg').val();

        if (msg != null && msg != "") {
            alertify.alert(msg);
        }
    });
</script>
