﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pTitle = ViewData["productName"];
    var subject = ViewData["subject"];
    var attachment = ViewData["attachment"];
}
@model Sales.Illustration.Web.ViewModel.SendMailViewModel

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>@pTitle</b></h5></center>
    </div>

    <div class="main-content" style="padding: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-tittle-1">
                    <i class=""></i> Send Mail Report
                </div>
                @using (Html.BeginForm("SendMail", "Report", FormMethod.Post, new { @id = "form" }))
                {
                    <fieldset>
                        <div class="col-lg-12">
                            <div class="row row-form" style="margin:0px -30px;">
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            To
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.To, new { @class = "form-control", @placeholder = "Mail To" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Subject
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Attachment
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.Attachment, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 jarak">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label">
                                            Body
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col=-md-8 col-sm-8 col-xs-12">
                                        @Html.TextAreaFor(m => m.Body, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.Source)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigationbutton">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button id="content_save" class="btn btn-warning" onclick="window.location.href='@Url.Action("ResetAllData", "Traditional")';">
                    CREATE NEW
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn-bawah-mid">
                <button class="btn btn-warning" onclick="next()">
                    SEND MAIL
                </button>
            </div>
        </div>
    </div>

</div>
@Html.Partial("Footer")

<script type="text/javascript">
    function next() {
        $("#form").submit();
    }
</script>
