﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>INFO</b></h5></center>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12 col-lg-offset-3 col-lg-6">
            <div class="main-content" style="background-image: url('/Content/dist/img/info-header.png'); background-repeat: no-repeat; background-size: 100% 20%;">
                <div class="row">
                    <h4><p style="text-align: center;"><span style="color:#fff">Informasi Illustrasi</span></p></h4>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <br>
                        <div class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-0 col-sm-offset-1 col-md-offset-2" style="padding-top:11%">
                            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                                <img class="infodetail" src="/Content/dist/img/sales.png">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 infocontent">
                                Sales Illustration
                                <br /><span style="color:#a5a5a5; font-size:13px;">
                                          SIS Version Web.1.0</p>
                                    <br />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-0 col-sm-offset-1 col-md-offset-2">
                            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                                <img class="infodetail" src="/Content/dist/img/calendar.png">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 infocontent">
                                Relase Date
                                <br /><span style="color:#a5a5a5; font-size:13px;">
                                    31 March 2016</p>
                                    <br />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-0 col-sm-offset-1 col-md-offset-2">
                            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                                <img class="infodetail" src="/Content/dist/img/calendar.png">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 infocontent">
                                Expiry Date
                                <br /><span style="color:#a5a5a5; font-size:13px;">
                                    31 December 2016</p>
                                    <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Footer")