﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Sales.Illustration.Web.Models.MainModel obj = new Sales.Illustration.Web.Models.MainModel();

    string agentCode = ViewData["agentCode"] as string;
    var transLogs = obj.GetTransLogByAgent(agentCode);
    int p = 1;
    try
    {
        p = Convert.ToInt16(Request.Params["p"] == null ? "1" : Request.Params["p"]);
    }
    catch { }
    int rowperpage = 10;
    var bagi = transLogs.Count() / rowperpage;
    var sisa = transLogs.Count() % rowperpage;
    var totalPage = 0;
    if (sisa != 0)
    {
        totalPage = bagi + 1;
    }
    else
    {
        totalPage = bagi;
    }
    if (p > totalPage) { p = totalPage; }
    if (p < 1) { p = 1; }
    int next = p + 1>totalPage ? totalPage : p+1;
    int previous = p - 1 < 1 ? 1 : p - 1;

    
}

@Html.Partial("Header")
<div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
    @Html.Partial("SideBar")
    <div class="main-tittle">
        <center><h5 class="main-tittle"><b>DAFTAR TRANSAKSI</b></h5></center>
    </div>
    <div class="main-content" style="margin-bottom:25px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="produk-header">
                    <h4><img src="/Content/dist/img/logo-warna.png">Your Data History</h4>
                </div>
                <div>
                    <table class="table-ul">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Trans. No</th>
                                <th>Nama</th>
                                <th>Produk</th>
                                <th>Tanggal Trans.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                int min_page = (p-1)*rowperpage ;
                                int max_page = p*rowperpage;
                                foreach (var log in transLogs)
                                {
                                    if (i > min_page && i <= max_page)
                                    { 
                                    var product = obj.GetProduct(log.NasabahDatas.FirstOrDefault(x => x.TransCode == log.TransCode).ProductCode);
                                    
                                    <tr>
                                        <td style="font-weight: normal;">@i</td>
                                        <td style="font-weight: normal;">@log.TransCode</td>
                                        <td style="font-weight: normal;">@log.NasabahDatas.FirstOrDefault(x => x.TransCode == log.TransCode).PolicyHolderName</td>
                                        <td style="font-weight: normal;">@product.ProductName</td>
                                        <td style="font-weight: normal;">@log.TransDate</td>
                                        <td><a href="/History/LoadHistoryData/@log.TransCode">View</a></td>
                                    </tr>
                                    }
                                    i = i + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="div-nav-pro-bawah" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ul-btn-nav">
                @{
                    if (p <= 1) 
                    {<button id="content_save_prev" class="btn btn-warning" onclick="prev()" disabled="disable">PREV</button>}
                    else{
                    <button id="content_save_prev" class="btn btn-warning" onclick="prev()" >PREV</button>}
                }
                    
            </div>
            
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div id="msform-bawah">
                    <ul id="progressbar-bawah" style="padding-left:0px;">
                        @for (var iPage = 1; iPage <= totalPage; iPage++)
                        {
                            if (iPage == p)
                            {
                                <li class="active"></li>
                            }
                            else
                            {
                              <li></li>
                            }
                        }
                       
                    </ul>
                </div>
            </div>  
                   
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ul-btn-nav">
                @{
                    if (p >= totalPage)
                    {<button id="content_save_next" class="btn btn-warning" onclick="next()" disabled="disable">NEXT</button>  }
                    else
                    {<button id="content_save_next" class="btn btn-warning" onclick="next()">NEXT</button>  }

}
                
            </div>
        </div>
    </div>
</div>
@Html.Partial("Footer")

<script type="text/javascript">
    function next() {
        window.location = "?p=@next";
    }
    function prev() { window.location = "?p=@previous"; }

</script>
